CONFIG_FPGA_DFL=m
CONFIG_FPGA_DFL_FME=m
CONFIG_FPGA_DFL_FME_MGR=m
CONFIG_FPGA_DFL_FME_BRIDGE=m
CONFIG_FPGA_DFL_FME_REGION=m
CONFIG_FPGA_DFL_AFU=m
CONFIG_FPGA_DFL_NIOS_INTEL_PAC_N3000=m
CONFIG_FPGA_DFL_SPI_ALTERA=m
CONFIG_FPGA_DFL_PCI=m
CONFIG_FPGA_DFl_HSSI=m
CONFIG_FPGA_DFL_INTEL_S10_IOPLL=m

CONFIG_FPGA=m
CONFIG_FPGA_BRIDGE=m
CONFIG_FPGA_REGION=m

CONFIG_FPGA_SEC_MGR=m
CONFIG_IFPGA_M10_BMC_SECURE=m

CONFIG_UIO_DFL=m

CONFIG_SENSORS_INTEL_M10_BMC_HWMON=m
CONFIG_MFD_INTEL_M10_BMC_SPI=m
CONFIG_MFD_INTEL_M10_BMC_PMCI=m
CONFIG_MFD_INTEL_M10_BMC_LOG=m

CONFIG_SPI_ALTERA=m

CONFIG_INTEL_S10_PHY=m
CONFIG_INTEL_M10_BMC_RETIMER=m
CONFIG_S10HSSI=m

CONFIG_REGMAP_MMIO=m

CONFIG_MEMORY=y
CONFIG_FPGA_DFL_EMIF=m

CONFIG_IIO_INTERRUPT_TRIGGER=m
