CONFIG_FPGA_DFL=m
CONFIG_FPGA_DFL_FME=m
CONFIG_FPGA_DFL_FME_MGR=m
CONFIG_FPGA_DFL_FME_BRIDGE=m
CONFIG_FPGA_DFL_FME_REGION=m
CONFIG_FPGA_DFL_AFU=m
CONFIG_FPGA_DFL_N3000_NIOS=m
CONFIG_FPGA_DFL_SPI_ALTERA=m
CONFIG_FPGA_DFL_PCI=m
CONFIG_FPGA_DFl_HSSI=m

CONFIG_FPGA=m
CONFIG_FPGA_BRIDGE=m
CONFIG_FPGA_REGION=m

CONFIG_SENSORS_INTEL_M10_BMC_HWMON=m
CONFIG_MFD_INTEL_M10_BMC=m

CONFIG_SPI_ALTERA=m

CONFIG_FPGA_DFL_ETH_GROUP=m
CONFIG_INTEL_S10_PHY=m
CONFIG_INTEL_LL_10G_MAC=m

CONFIG_REGMAP_MMIO=m
