CONFIG_FPGA_DFL=m
CONFIG_FPGA_DFL_FME=m
CONFIG_FPGA_DFL_FME_MGR=m
CONFIG_FPGA_DFL_FME_BRIDGE=m
CONFIG_FPGA_DFL_FME_REGION=m
CONFIG_FPGA_DFL_AFU=m
CONFIG_FPGA_DFL_SPI_ALTERA=m
CONFIG_FPGA_DFL_PCI=m

CONFIG_FPGA_VFIO_MDEV_DFL=m

CONFIG_FPGA=m
CONFIG_FPGA_MGR=m
CONFIG_FPGA_BRIDGE=m
CONFIG_FPGA_REGION=m
CONFIG_FPGA_SEC_MGR=m
CONFIG_IFPGA_M10_BMC_SECURE=m

CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_MFD_INTEL_M10_BMC=m
CONFIG_SENSORS_INTEL_M10_BMC_HWMON=m

CONFIG_SPI_ALTERA=m

CONFIG_FIXED_PHY=m
CONFIG_NET_VENDOR_SILICOM=y
CONFIG_N5010_HSSI=m
CONFIG_n5010_PHY=m

CONFIG_REGMAP_MMIO=m
CONFIG_REGMAP_INDIRECT_REGISTER=m
CONFIG_REGMAP_SPI_AVMM=m
